---
import "..//styles/style.css";
const { variant, size, link_side } = Astro.props;
// const { variant = "primary_1", size = "medium" } = Astro.props;
---

<a href={link_side} data-variant={variant} data-size={size} class="rounded-xl text-primary_white"><slot /></a>

<!-- <button
  data-variant={variant}
  data-size={size}
  class="rounded-xl text-primary_white"><slot /></button
> -->

<style>
  /* Variants */
  [data-variant="primary_green"] {
    background: var(--cta_green);
  }

  [data-variant="primary_blue"] {
    background: var(--cta_blue);
  }

  [data-variant="secondary"] {
    background-color: var(--cta_black);
  }

  /* Sizes */
  /* [data-size="medium"] {
    font-size: var(--font-size-base);
    min-height: var(--spacing-xxxl);
    padding-block: var(--spacing-xs);
    padding-inline: var(--spacing-xl);
  } */

  [data-size="medium"] {
    font-size: var(--font-size-base);
    min-height: var(--spacing-xxxl);
    padding-block: var(--spacing-xs);
    width: 100%;
    display: grid;
    justify-content: center;
  }

  [data-size="small"] {
    font-size: var(--font-size-small);
    min-height: var(--spacing-md);
    padding-block: var(--spacing-xs);
    padding-inline: var(--spacing-md);

    
  }
</style>

<!-- <Button variant="primary_1" size="medium">FIND KÆLEDYR</Button>
  <Button variant="primary_2" size="medium">FIND KÆLEDYR</Button> -->
