---
import Button from "./Button.astro";
import "../styles/style.css";
const { title, description, imgPath, kategori, link_side } = Astro.props;
---

<section x-data="{ selected: null }">
  <div
    class="rounded-lg shadow-xl bg-primary_white h-full grid p-10 cursor-pointer"
  >
    <figure class="mb-6 center flex justify-center">
      <img class="rounded-lg" src={imgPath} alt="Donation" />
    </figure>
    <div class="grid">
      <div class="">
        <h3 class="uppercase heading-5">{kategori}</h3>
        <div class="flex justify-between">
          <h4 class="uppercase">{title}</h4>
        </div>
      </div>
      <p>{description}</p>
      <div class="mt-6 items-end grid">
        <Button
          variant="primary_blue"
          size="medium"
          link_side={link_side}
          x-on:click="step = 'step2'"
        >
          <slot />
        </Button>
      </div>
    </div>
  </div>
</section>
