---
import "../styles/style.css";
import Button from "./Button.astro";
const {
  name,
  race,
  color,
  weight,
  sex,
  age,
  location,
  price,
  header1,
  header2,
  header3,
} = Astro.props;
---

<section class="p-8 lg:max-w-6xl lg:mx-auto">
  <h2>{name}</h2>

  <section class="grid lg:grid-cols-2 gap-8 my-8">
    <div><img class="w-[70%]" src="/adoption/basse.webp" alt="basse" /></div>

    <div class="grid grid-cols-2">
      <div class="flex gap-4">
        <img class="" src="/ikoner/paw.svg" alt="race" />
        <div><h3>Race</h3> <p>{race}</p></div>
      </div>

      <div class="flex gap-4">
        <img src="/ikoner/color.svg" alt="race" />
        <div><h3>Farve</h3> <p>{color}</p></div>
      </div>

      <div class="flex gap-4">
        <img src="/ikoner/weight.svg" alt="race" />
        <div><h3>Vægt</h3> <p>{weight}</p></div>
      </div>

      <div class="flex gap-4">
        <img src="/ikoner/sex.svg" alt="race" />
        <div><h3>Køn</h3> <p>{sex}</p></div>
      </div>

      <div class="flex gap-4">
        <img src="/ikoner/age.svg" alt="race" />
        <div><h3>Alder</h3> <p>{age}</p></div>
      </div>
      <div class="flex gap-4">
        <img src="/ikoner/location.svg" alt="race" />
        <div><h3>Lokation</h3> <p>{location}</p></div>
      </div>
      
      <div class="flex gap-4">
        <img src="/ikoner/price.svg" alt="race" />
        <div><h3>Pris</h3> <p>{price}</p></div>
      </div>
    </div>
  </section>

  <section class="grid lg:grid-cols-2 gap-8 my-8">
    <div>
      <h3>Hvem er {name}?</h3>
      <p>{header1}</p>
    </div>

    <div class="row-span-2">
      <h3>Sociale egenskaber</h3>
      <p>{header2}</p>
    </div>

    <div>
      <h3>{name}'s fortid</h3>
      <p>{header3}</p>
    </div>
  </section>

  <Button variant="primary_blue" size="small">Ansøg</Button>
</section>

<style>
  



</style>
