---
import "..//styles/style.css";
const { title, description, imgPath, kategori, ejer } = Astro.props;
---

<section class="mb-8">
  <div class="rounded-lg shadow-xl bg-primary_white h-full grid p-10">
    <figure class="mb-6 center flex justify-center">
      <img class="rounded-lg" src={imgPath} alt="Indleveret dyr" />
    </figure>
    <div class="grid">
      <div class="">
        <h3 class="uppercase heading-5">{kategori}</h3>
        <div class="flex justify-between">
          <h4 class="uppercase">{title}</h4>
        </div>
      </div>
      <p class="italic">{description}</p>
      <p class="mt-5 font-bold heading-5">{ejer}</p>
    </div>
  </div>
</section>
